@page "/processcharts"

<PageTitle>Process Charts</PageTitle>

<h1>Charts</h1>

@if (durations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>LogID</th>
                <th>AppName</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var duration in durations)
            {
                <tr>
                    <td>@duration.StartLogID</td>
                    <td>@duration.AppName</td>
                    <td>@duration.StartTime</td>
                    <td>@duration.EndTime</td>
                    <td>@duration.Duration</td>
                </tr>
            }
        </tbody>
    </table>
}